li a {
    color: white;
}

a.white		{color: white;
		font-size: 2em;
		font-family: "pinyon script", "times new roman", arial, sans-serif;
		text-decoration: none;}

body {
    background: teal url("images/background.JPG") no-repeat center bottom;
}

h1          { color: White; 
		font-family: "pinyon script", "times new roman", sans-serif;
		font-style: itallic;
		text-align: center;
                font-size: 3em; }
				
h2			{font-style: itallic;}